@model List<HedonismBlog.ViewModels.RoleViewModel>

@{
    ViewData["Title"] = "ExistingRoles";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<h2>ExistingRoles</h2>
<div class="row">
    @foreach (var role in Model)
    {
        <div class="col-md-12">
            <div class="card" style="width: 18rem;">
                @* <img class="card-img-top" src="@card.ImageUrl" alt="Card image cap"> *@
                <div class="card-body custom-card-padding">
                    <h6 class="card-title">@role.Name</h6>
                    <p class="card-text">@role.Description</p>
                    <a href="@Url.Action("Edit", "Role", new { id = role.Id })">Edit</a>
                </div>
            </div>
        </div>
    }
</div>
<div>
    <a href="@Url.Action("Create", "Role")">Add new role</a>
</div>
