@model HedonismBlog.ViewModels.PostViewModel

@{
    ViewData["Title"] = "CreatePost";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<h2>Create new Post</h2>
<form method="post" asp-controller="Post" asp-action="SubmitCreate">
    <div asp-validation-summary="ModelOnly"></div>
     <div>
        @for (int i = 0; i < Model.Tags.Count; i++)
        {
            <div>
                <input type="checkbox" asp-for="@Model.Tags[i].IsSelected" />
                <label>@Model.Tags[i].Text</label>
                <input type="hidden" asp-for="@Model.Tags[i].Text" />
                <input type="hidden" asp-for="@Model.Tags[i].Id" />
            </div>
        }
    </div>

    <div>
        <label asp-for="Title"></label><br />
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div>
        <label asp-for="Content"></label><br />
        <textarea asp-for="Content"></textarea>
        <span asp-validation-for="Content"></span>
    </div>
    <div>
        <input type="hidden" asp-for="UserEmail" />
    </div>

    <div>
        <input type="submit" value="Create" />
    </div>
    <div>
        <a href="@Url.Action("Index", "Post")">Back to post list</a>
    </div>
</form>